<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LogoBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <LogoBuilder.Properties.Settings>
      <setting name="LastProjectPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LastLogoIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastOpenedLogo" serializeAs="String">
        <value>logo.bin</value>
      </setting>
      <setting name="LastSavedBootLogo" serializeAs="String">
        <value />
      </setting>
      <setting name="LastColorDepthIndex" serializeAs="String">
        <value>0</value>
      </setting>
    </LogoBuilder.Properties.Settings>
  </userSettings>
</configuration>